<div class="popup">
  <h2 class="popup-title">Навигация:</h2>
  <ul class="popup-links__list">
    {{{ linkLogin }}}
    {{{ linkSignIn }}}
    {{{ linkChats }}}
    {{{ linkSettings }}}
    {{{ linkSettingsEdit }}}
    {{{ linkSettingsChangePwd }}}
    {{{ linkServerError }}}
    {{{ link404 }}}
  </ul>
</div>

