<section class="settings">
  <a href="/" class="settings-back"></a>
  <div class="settings-container">
    <div class="settings__avatar">
      <div class="settings__avatar-edit" data-trigger-modal></div>
      <div class="settings__avatar-name">
        {{ name }}
      </div>
    </div>

    <form action="" id="settings-form">
      {{{ inputEmail }}}
      {{{ inputLogin }}}
      {{{ inputName }}}
      {{{ inputLastname }}}
      {{{ inputChatName }}}
      {{{ inputPhone }}}
      {{{ inputOldPwd }}}
      {{{ inputNewPwd }}}
      {{{ inputRepeatNewPwd }}}
    </form>

    <div class="controls">
      {{{ buttonEdit }}}
      {{{ buttonChangePassword }}}
      {{{ buttonLeaveAccount }}}
      {{{ buttonSave }}}
    </div>

    {{{ modal }}}

  </div>
</section>
